*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;

}
body{
    background-image: url("./assets/hero.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background: cover;
}
